<!-- Delete phone screen -->
<div id="delete-phone-form" class="dialog-box">
	<h1 data-id="{{id}}">Confirm Delete Phone?</h1>
	<p>
		<label for="personName">Name:</label>
		<input type="text" id="personName" value="{{person}}" disabled="disabled">
	</p>
	<p>
		<label for="phoneNumber">Number:</label>
		<input type="text" id="phoneNumber" value="{{number}}" disabled="disabled">
	</p>
	<p class="buttons">
		<a href="#" class="button" id="delete-form-delete-button"  data-id="{{id}}">Delete</a>
		<a href="#" class="button" id="delete-form-cancel-button">Cancel</a>
	</p>
</div>