input[type=text] {
    width: 250px;
}

label {
    display: inline-block;
    width: 70px;
}

aside {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    margin: 20px;
    width: 150px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background: linear-gradient(#D0DDEC, #A9C2E4, #D0DDEC, #A9C2E4, #7E9FCB);
}

aside header {
    border-bottom: 1px solid black;
}

aside header h2 {
    font-size: 1em;
    margin:0;
}

aside ul {
    list-style: circle;
    padding-left: 30px;
}

aside li a {
    color: black;
    font-size: 0.8em;
}