@font-face {
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    src: local('Patua One'), local('PatuaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/patuaone/v4/yAXhog6uK3bd3OwBILv_SD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
    margin:0;
}

#wrapper {
    padding: 0;
    margin: 0 auto;
    width: 940px;
    font-family: Georgia, serif;
    color: #444;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type=text] {
    width: 100px;
}

input[type=submit] {
    width: 60px;
}

h3 {
    margin: 0;
}

#wrapper > header {
    width: 564px;
    margin: 0 auto;
}

#wrapper > header > h1 {
    font-family: "Patua One", serif;
    font-size: 45px;
    text-align: center;
    margin: 0;
}

#wrapper > header > h1 a {
    color: #444;
}

#wrapper > header > h1:hover a {
    color: #777;
}

#wrapper > header > h1:before {
    content: url(../images/site-logo.png);
    vertical-align: sub;
}

#wrapper > header > h2 {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin: 0;
}

#wrapper > header > nav {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-top: 1px dashed #958295;
    border-bottom: 1px dashed #958295;
    margin: 18px 0 30px;
    padding: 5px 0;
    height: 28px;
    text-align: center;
}

#wrapper > header:after {
    content: url('../images/cover-mountains.jpg');
    display: block;
    width: 940px;
    height: 350px;
    margin-left: -188px;
    margin-bottom: 20px;
}

#wrapper > header li {
    display: inline-block;
    padding: 4px 6px;
}

#wrapper > header li:hover a {
    color: #444;
}

#wrapper > header li:first-child {
    background-color: #EEE;
    color: #9999A1;
    border-radius: 5px;
}

#wrapper > header li a {
    color: #958295;
}

main {
    float: left;
    width: 720px;
    margin-top: 10px;
}

main section {
    margin: 5px 60px;
    border-top: 1px dashed #958295;
    border-bottom: 1px dashed #958295;
    text-align: center;
}

main article {
    margin: 40px 0px 50px;
}

aside {
    float: left;
    width: 210px;
    margin-left: 10px;
}

aside section {
    border: 1px dashed #958295;
    background-color: #F9F9F9;
    padding: 20px;
    font-size: 0.8em;
    margin-bottom: 20px;
}

aside form {
    margin-bottom: 18px;
}

aside section header {
    margin: 10px 0 5px 0;
}

aside section li {
    margin-top: 3px;
}

aside section li:hover a {
    text-decoration: underline;
    color: red;
}

footer {
    clear: both;
    width: 100%;
    padding: 5px;
    margin: 0;
    text-align: center;
    background-color: #EEE;
    color: #666;
}