body {
     font-family: Helvetica, Tahoma, Arial, sans-serif;

 }

h1 {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 3em;
    margin: 5px;
}

article {
    max-width: 800px;
    min-width: 800px;
}

table {
    display: inline-block;
    margin: 10px;
}

th, caption {
    border-bottom: 1px solid black;
    font-weight: bold;
}

th:nth-child(7) {
    color: red;
}

td {
    text-align: right;
}