<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalcDistance" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41841/DistanceCalculatorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalcDistance"
                contract="ServiceCalcDIstance.ICalcDistance" name="BasicHttpBinding_ICalcDistance" />
        </client>
    </system.serviceModel>
</configuration>